/* Default left, right, top, bottom margin is 2cm */
@page { margin: 2cm } 

/* First page, 10 cm margin on top */
@page :first {
  margin-top: 10cm;
}

/* Left pages, a wider margin on the left */
@page :left {
  margin-left: 3cm;
  margin-right: 2cm;
}

@page :right {
  margin-left: 2cm;
  margin-right: 3cm;
}


body
{
	background: white;
	font-family: Arial, Verdana, Geneva, sans-serif;
	font-weight: normal;
}


h1
{
	font-weight: bold;
}

i
{
	font-weight: 200;
}

p
{
	font-weight: normal;
}
